@font-face {
  font-family: "HansonBold";
  src: url("assets/Hanson Bold 700.otf");
}

@font-face {
  font-family: "NeueHaasUnica";
  src: url("//db.onlinewebfonts.com/t/7250d52844cced73ed70675d1b78c60c.eot");
  src: url("//db.onlinewebfonts.com/t/7250d52844cced73ed70675d1b78c60c.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/7250d52844cced73ed70675d1b78c60c.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/7250d52844cced73ed70675d1b78c60c.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/7250d52844cced73ed70675d1b78c60c.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/7250d52844cced73ed70675d1b78c60c.svg#Neue Haas Unica") format("svg");
}

body{
  background-color: #1512a9;
  color: #FFFFFF;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  text-align: center;
  font-family: "HansonBold";
  text-transform: uppercase;
  font-size: 3.75rem;
  width: 85%;
  line-height: 1.15;
  margin: auto;
}

h2{
  text-align: center;
  font-family: "HansonBold";
  text-transform: uppercase;
  font-size: 3rem;
  width: 100%;
  line-height: 1.15;
  margin: auto;
}

p{
  text-align: center;
  font-family: "NeueHaasUnica";
  font-size: 1rem;
  color: #8a8e9e;
  margin-top: 0%;
}

a{
  color: #8a8e9e;
}

a:hover {
  color: #FFF;
}

input[type=text]{
  font-family: "HansonBold";
  text-transform: uppercase;
  font-size: 3.75rem;
  width: 400px;
  border: none;
  color: #8a8e9e;
  background: none;
  outline: 0;
  text-align: center;
  padding-bottom: 0px;
  /* border-bottom: 5px solid #8a8e9e; */
}

.blinker {
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1,0,0,1);
  animation-duration: 1s;
  display: inline-block;
  width: 8px;
  height: 2.75rem;
  margin-left: 10px;
  background: #FFF;
}

@keyframes blinker {
  from { opacity: 1.0; } to { opacity: 0.0; }
}

#title{
  margin-top: 4%;
}

#underline{
  text-decoration: underline;
}

#visual {
  text-align: center;
}

#defaultCanvas0{
  display: inline-block;
  position: relative;
  z-index: 0;
  margin: auto;
}

#count{
  width: 100%;
  margin: auto;
  z-index: 10;
  position: absolute;
  top:95%;
  left:50%;
  transform:translate(-50%, -95%);
}

@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
  h1 {
    font-size: 4.625rem;
  }

  h2 {
    font-size: 4.125rem;
  }

  input[type=text]{
    font-size: 4.625rem;
    width: 480px;
  }

  .blinker {
    height: 3.125rem;
    width: 1rem;
  }

  p {
    width: 80%;
    margin: auto;
    font-size: 1.75rem;
  }

  #title {
    margin-top: 8%;
  }

  #count {
    top:92%;
    left:50%;
    transform:translate(-50%, -92%);
  }
}

@media only screen
and (min-width : 320px){
  h1 {
    width:95%;
    font-size: 5rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  input[type=text]{
    font-size: 5rem;
    width: 500px;
  }

  .blinker {
    height: 3.5rem;
    width: 1rem;
  }

  p {
    width: 80%;
    margin: auto;
    font-size: 2rem;
  }

  #visual {
    margin-top: 5%;
  }

  #title {
    margin-top: 15%;
  }

  #count {
    top:92%;
    left:50%;
    transform:translate(-50%, -92%);
  }
}
